Description=Autostart nodejs website for Minecraft monitoring on system startup

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=su - pi -c "/usr/bin/screen -dmS web bash -c 'cd /var/www/html/myapp; sudo node app.js'"
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
